<!--
  Generated template for the NewOrderFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="navBarColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Yeni Sipariş Formu</ion-title>

    <ion-buttons end>
      <button (click)="showSavingAlert()" [disabled]="!siparisForm.form.valid" ion-button>Kaydet</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #siparisForm="ngForm">
    <ion-grid>
      <ion-row>
        <!-- Müşteri -->
        <ion-col>
          <ion-card>
            <ion-card-header>Müşteri</ion-card-header>

            <ion-card-content>
              <ion-list>
                <label ion-item>
                  <ion-label fixed>*TC Kimlik</ion-label>
                  <ion-input name="identificationNumber" maxLength="11" [(ngModel)]="order.customer.identificationNumber" type="tel"></ion-input>
                </label>

                <label ion-item>
                  <ion-label fixed>*İsim</ion-label>
                  <ion-input name="name" [(ngModel)]="order.customer.name"></ion-input>
                </label>

                <ion-item-divider></ion-item-divider>

                <label ion-item>
                  <ion-label fixed>Telefon 1</ion-label>
                  <ion-input name="telephone1" [(ngModel)]="order.customer.telephones[0]"></ion-input>
                </label>

                <label ion-item>
                  <ion-label fixed>Telefon 2</ion-label>
                  <ion-input name="telephone2" [(ngModel)]="order.customer.telephones[1]"></ion-input>
                </label>

                <label ion-item>
                  <ion-label fixed>Email</ion-label>
                  <ion-input name="email" [(ngModel)]="order.customer.email"></ion-input>
                </label>

                <ion-item-divider></ion-item-divider>

                <label ion-item>
                  <ion-label fixed>Adres Satırı</ion-label>
                  <ion-textarea name="addressLine" [(ngModel)]="order.customer.address.line"></ion-textarea>
                </label>

                <label ion-item>
                  <ion-label>Şehir</ion-label>
                  <ion-select
                    name="city"
                    [(ngModel)]="order.customer.address.city"
                    (ionChange)="citySelected($event)"
                  >
                    <ion-option *ngFor="let city of cityDistrictProvider.getCities()">{{ city }}</ion-option>
                  </ion-select>
                </label>

                <label ion-item>
                  <ion-label>İlçe</ion-label>
                  <ion-select
                    name="addressDistrict"
                    [disabled]="!order.customer.address.city"
                    [(ngModel)]="order.customer.address.district"
                  >
                    <ion-option *ngFor="let district of cityDistrictProvider.ilceler">{{ district }}</ion-option>
                  </ion-select>
                </label>

                <label ion-item>
                  <ion-label fixed>Adres Not</ion-label>
                  <ion-textarea name="addressNote" [(ngModel)]="order.customer.address.note"></ion-textarea>
                </label>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- Sipariş ve Kapora -->
        <ion-col>
          <!-- Sipariş -->
          <ion-card>
            <ion-card-header>Sipariş</ion-card-header>

            <ion-card-content>
              <ion-list>
                <label ion-item>
                  <ion-label>İş Teslim Tarihi</ion-label>
                  <ion-datetime name="deliveryDate" [(ngModel)]="order.orderDetails.deliveryDate"></ion-datetime>
                </label>

                <label ion-item>
                  <ion-label fixed>Sipariş Tutarı</ion-label>
                  <ion-input name="orderAmount" [(ngModel)]="order.orderDetails.amount" type="number"></ion-input>
                </label>

                <label ion-item>
                  <ion-label>Para Birimi</ion-label>
                  <ion-select name="orderCurrency" [(ngModel)]="order.orderDetails.currency">
                    <ion-option *ngFor="let currency of currencyBankProvider.currencies">{{ currency }}</ion-option>
                  </ion-select>
                </label>

                <label ion-item>
                  <ion-label fixed>Sipariş Not</ion-label>
                  <ion-textarea name="orderNote" [(ngModel)]="order.orderDetails.note"></ion-textarea>
                </label>
              </ion-list>
            </ion-card-content>
          </ion-card>

          <!-- Kapora -->
          <ion-card>
            <ion-card-header>Kapora</ion-card-header>

            <ion-card-content>
              <ion-list>
                <label ion-item>
                  <ion-label>Ödeme Türü</ion-label>
                  <ion-select name="paymentType" [(ngModel)]="order.payments[0].type">
                    <ion-option *ngFor="let paymentType of currencyBankProvider.paymentTypes">{{ paymentType }}</ion-option>
                  </ion-select>
                </label>

                <label ion-item>
                  <ion-label fixed>Tutar</ion-label>
                  <ion-input name="paymentAmount" [(ngModel)]="order.payments[0].amount" type="number"></ion-input>
                </label>

                <label ion-item>
                  <ion-label>Para Birimi</ion-label>
                  <ion-select name="paymentCurrency" [(ngModel)]="order.payments[0].currency">
                    <ion-option *ngFor="let currency of currencyBankProvider.currencies">{{ currency }}</ion-option>
                  </ion-select>
                </label>

                <label *ngIf="order.payments[0].type == 'Kredi Kartı'" ion-item>
                  <ion-label fixed>Taksit Sayısı</ion-label>
                  <ion-input name="installments" [(ngModel)]="order.payments[0].installments" type="number"></ion-input>
                </label>

                <label *ngIf="order.payments[0].type == 'Kredi Kartı'" ion-item>
                  <ion-label>Banka</ion-label>
                  <ion-select name="paymentBank" [(ngModel)]="order.payments[0].bank">
                    <ion-option *ngFor="let bank of currencyBankProvider.banks">{{ bank }}</ion-option>
                  </ion-select>
                </label>
                <!--
                <label ion-item>
                  <ion-label fixed>Ödeme Not</ion-label>
                  <ion-textarea name="paymentNote" [(ngModel)]="order.payments[0].note"></ion-textarea>
                </label>
                -->
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
