<ion-header>
  <ion-navbar color="navBarColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>Son Aktiviteler</ion-card-header>

          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let event of events">
                <ion-icon name="leaf" item-start></ion-icon>

                <h2>{{ event.title }}</h2>
                <h3>{{ event.date | formatDate }} | {{ event.personnel }}</h3>
                <p>{{ event.detail }}</p>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>Ödeme Raporu</ion-card-header>

          <ion-card-content>
            <ion-item>
              <canvas #paymentBarCanvas></canvas>
            </ion-item>
          </ion-card-content>

          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>Başlangıç Tarihi</ion-label>
                <ion-datetime (ionChange)="refreshChart($event)"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>Bitiş Tarihi</ion-label>
                <ion-datetime (ionChange)="refreshChart($event)"></ion-datetime>
              </ion-item>
            </ion-list>
            
            <ion-list inset no-line>
              <ion-item>
                <ion-label>Ay</ion-label>
                <ion-label>Toplam Ödeme</ion-label>
              </ion-item>
              <ion-item *ngFor="let item of paymentData">
                <ion-label>{{ item._id }}</ion-label>
                <ion-label>{{ item.totalAmount }} TRY</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>