<ion-header>
  <ion-navbar color="navBarColor">
    <ion-buttons start>
      <button navPop ion-button>Vazgeç</button>
    </ion-buttons>

    <ion-title>{{ mode == 'new' ? 'Yeni Ürün' : 'Ürünü Düzenle' }}</ion-title>

    <ion-buttons end>
      <button (click)="showSubmitAlert()" ion-button>Kaydet</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>

      <ion-item>
        <ion-label>Ürün Kategori</ion-label>
        <ion-select name="productType" [(ngModel)]="product.type">
          <ion-option *ngFor="let type of productTypesProvider.types">{{ type }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label fixed>Desen Kodu</ion-label>
        <ion-input name="patternCode" [(ngModel)]="product.patternCode"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Renk Kodu</ion-label>
        <ion-input name="colorCode" [(ngModel)]="product.colorCode"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Cins</ion-label>
        <ion-input name="varietyCode" [(ngModel)]="product.varietyCode"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Miktar</ion-label>
        <ion-input type="number" name="quantity" (ionChange)="calculateTotal()" [(ngModel)]="product.quantity"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Birim Fiyat</ion-label>
        <ion-input type="number" name="unitPrice" (ionChange)="calculateTotal()" [(ngModel)]="product.unitPrice"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>İşçilik Maliyeti</ion-label>
        <ion-input type="number" name="laborCost" (ionChange)="calculateTotal()" [(ngModel)]="product.laborCost"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Tutar</ion-label>
        <ion-input [disabled]="true" [value]="total"></ion-input>
      </ion-item>

    </ion-list>
  </form>
</ion-content>